<div class="navbar">
    <div class="navbar-icon">
        <a routerLink="/" routerLinkActive="active">
            <p class="icon"><span class="aclass">A</span>ngular</p>
        </a>
        
    </div>

    <div class="navbar-link">
      
       <a routerLink="/premium" routerLinkActive="active">Premium</a>
       <a routerLink="/about" routerLinkActive="active">About</a>
       <a routerLink="/sell" routerLinkActive="active" >Sell</a>
    </div>

    <div class="navbar-search">
        <input class="navbar-search" type="text" name="search" placeholder="search">
        <button class="navbar-button">search</button>
    </div>
    <!-- not done -->
    <div class="navbar-cart">
        <button>{{cartSize}}</button>
    </div>
</div>