<div class="navbar">
    <div class="navbar-icon">
        <p class="icon"><span class="aclass">A</span>ngular</p>
    </div>

    <div class="navbar-link">
       <a href="#">Categories</a>
       <a href="#">Premium</a>
       <a href="#">About</a>
       <a href="#">Sell</a>
    </div>

    <div class="navbar-search">
        <input class="navbar-search" type="text" name="search" placeholder="search">
        <button class="navbar-button">search</button>
    </div>
    <!-- not done -->
    <div class="navbar-cart">
        <button>{{cartSize}}</button>
    </div>
</div>