<div class="navbar">
    <div class="navbar-icon">
        <p class="icon"><span class="aclass">A</span>ngular</p>
    </div>

    <div class="navbar-link">
       <a href="#">Categories</a>
       <a href="#">Premium</a>
       <a href="#">About</a>
       <a href="#">Sell</a>
    </div>

    <div class="navbar-search">
        <input class="navbar-search" type="text" name="search" placeholder="">
        <button class="navbar-button">search</button>
    </div>
    <!-- not done -->
    <div class="navbar-cart">
        <!-- icon problem -->
       <button> <h1 style="display: inline;">Cart</h1><fa-icon style="font-size: 30px;margin: 30px 0px;" [icon]="faShoppingCart"></fa-icon> </button>
    </div>
</div>